
@font-face { font-family: 'Roboto-Medium'; src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype'); }
.fontRoboto {font-family: 'Roboto-Medium', sans-serif;}

body, html { height:100%; min-height:100%;}

.footer { bottom:0px; width:100%; position:relative; }
datalist ItemTemplate{ height:20px; width:20px; }
body { min-height:100%; height:100%; font-family: Roboto-Medium; }
.marginTop33 {margin-top:33%;}

.opacity5 {opacity:.5;}
.border_rounded { border-radius:50%;}
.colorWhiteFront { color:white;}
.colorRedBackground { background:#F16745; }
.colorRedFront { color:#F16745; }
.colorYellowBackground { background:#FC65D5; }
.colorYellowFront { color:#FFC65D; }
.colorGreenBackground { background:#7BC8A4; }
.colorGreenFront { color:#7BC8A4; }
.colorBlueBackground { background:#4CC3D9; }
.colorBlueFront { color:#4CC3D9; }
.colorPurpleBackground { background:#93648D; }
.colorPurpleFront { color:#93648D; }
.colorBlackBackground { background:#404040; }
.colorBlackFront { color:#404040; }

.colorBlueMaterialBG {background-color:rgb(33, 150, 200);}
.colorRedMaterialBG {background-color:#ff5252;}
.colorGreenMaterialBG {background-color:rgb(76, 175, 80);}
.colorDarkGreenMaterialBG { background-color:#00897b; }
.colorGreyMaterialFG {color:#e0e0e0;}

.colorBlackMaterialBG {background-color:#9e9e9e;}

.colorBluishMaterialBG { background-color:#607d8b; }
.fontSize100 { font-size:100%;}
.fontSize50 { font-size:50%;}
.fontSize1em { font-size:1em;}
.fontSizeOneHalfem { font-size:1.5em;}
.fontSize2em { font-size:2em;}
.fontSize5em { font-size:5em;}


.fontSize2em { font-size:2em;}
.fontSize3em { font-size:3em;}
.fontSize4em { font-size:4em;}
.fontSize5em { font-size:5em;}

.margin1{margin-top:1%;}
.marginTop2 { margin-top:2%;}
.margin5 { margin-top:5%;}
.margin10 { margin-top:10%;}

.padding1 { padding:1%; }
.padding2 { padding:2%; }
.padding5 { padding:5%; }
.padding10 { padding:10%; }

.height100 { height:100%; min-height:100%;}
.center_image {
    display: block;
    margin-left: auto;
    margin-right: auto ;
}